<!-- <nav class="navbar">
  <div class="container">
    <ng-progress></ng-progress>
  </div>
</nav>
<div  id="car" class="car" >
  <ol class="car-ind">
    <li ></li>
  </ol>
</div>
<div class="text">
  <h3>Search on Github</h3>
  <div class="search">
    <input  class="form-control" type="text" name="username" (keyup)='getUsers($event)' [(ngModel)]="username"placeholder="serch" aria-label="search">
  </div>
  <div class="search">
    <a target="_blank" class="test-info" type="button" (click)="getUsers()">Find User
    </a>
  </div>
  <div class="form-group">
    <a target="_blank" class="text-info" type="button" (click)="getResponse()">Show Repo
    </a>
  </div>
</div>
<div class="container">
<div class="contents">
<div class="git-contents">
  <h4><p class="text-info">Github Contents: {{users.login}}</p></h4><div *ngIif="loading"></div>
  <hr>
  <ul class "content-text">
    <li class="followers">Followers: {{users.followers}}</li>
    <li class="following">Following: {{users.following}}</li>
    <li class="repos">Public Repos: {{users.public_repos}}</li>
    <li class="join">Joined On: {{users.created_at|date}}</li>
  </ul>
</div>
    <a target="_blank" href="{{users.html_url}}" class="btn">Checkout on Github
    </a>
</div>
</div>

<hr class="">
<section>
  <h3>Found Repositories</h3>
  <div *ngFor="let git of git;">
    <div class="content-body">
      <h4><p class="text-info"> {{repo.name}}</p></h4>
      <hr>
      <ul class="content-text">
        <li class="id">Repo ID: {{repo.id}}</li>
        <li class="name">Repo Name: {{repo.name}}</li>
        <li class="description">Repo Description: {{repo.description}}</li>
      </ul>
    </div>
    <div class="footer">
      <ul class="bottom">
        <a target="_blank" href="{{repo.html_url}}" class="btn">Check out on Github
        </a>
      <!-- </ul> -->
    <!-- </div>
  </div>
</section>
<p>END OF PAGE</p>
<p>SCROLL TO TOP</p>
<div class="copy">
  2020 copyright:
  <a href="#"target="_blank">Lilian Njambi</a>

</div> --> -->
